footer.footer
	.footer-inner.inner-width.fw
		.soclink
			a.soclink-item.icon-facebook(href="#")
			a.soclink-item.icon-twitter-1(href="#")
			a.soclink-item.icon-vkontakte(href="#")
			a.soclink-item.icon-youtube(href="#")
		.our-blog-link
			a(href="#") Наш блог
		.copyright © 2008-2015. Webinar. Все права защищены
		.bottom-contacts
			.bottom-contact-item +7 495 241-35-70
			.bottom-contact-item._not-plus 8 800 333-11-28

		