header.header
	.header-inner.inner-width.fw
		.logo
			span.logo__link Webinar
		nav.top-menu
			ul
				li 
					a.top-menu__link(href="#using") Способы использования
				li 
					a.top-menu__link(href="#reviews") Отзывы
				li 
					a.top-menu__link(href="#functionality") Функционал
		.top-contacts
			.top-phone +7 495 981-62-22
			span.btn.top-contacts-btn.go-to-form Попробовать бесплатно



	

