// Size
$MaxInnerContentWidth: 1330px;
$TopPanelHeight: 70px;

// Colors
$ColorBase: #000a18;
$ColorSpecial-1: #3f0089;
$ColorSpecial-2: #ab45bf;

// Fonts
$FontBaseName: 'grotesk';
$FontSizeBase: 10px;
$FontBase: $FontBaseName, Arial, Helvetica, sans-serif;

// Backgrounds
$BgBase: #fff;
